<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Teste MULTER</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <!-- remember the name will be the same that we'll use on multer middleware  -->
        <input type="file" name="avatar" />
        <input type="submit" class="submit">
    </form>
</body>

</html>